.table {   
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
    font-size: 20px;
}

.table__cell {
    background-color:antiquewhite;
    text-align: center;
}

td, th {
    border: 2px solid black;
}