{% extends "base.html" %}
{% block title %}Node info{% endblock %}
{% block content %}
  <table class="table">

    <tr class="table__cell">
    <td>Node name</td>
    {% for i in node.name %}
        <td colspan="3">{{ i }}</td>
    {% endfor %}
    </tr>

    <tr class="table__cell">
        <td>Node stats</td>
    {% for stats in node.status %}    
        <td>Cpu: {{ stats.cpu }}</td>
        <td>Memory: {{ stats.memory }}</td>
        <td>Pods: {{ stats.pods }}</td>
    {% endfor %}
    </tr>

    <tr class="table__cell">
    <td>IP net</td>
    {% for i in node.spec %}
        <td colspan="3">{{ i }}</td>
    {% endfor %}
    </tr>

  </table>
{% endblock %}